<h1>Welcome to Rock Paper Scissor</h1>
<p>
  Choose either:
  <a href="/rock">rock</a>
  <a href="/paper">paper</a>
  or
  <a href="/scissor">scissor</a>
  <br>
  <br>
  The computer will choose a random hand to play
</p>
